@model Przetargi.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>Wybierz typ konta.</h1>
</hgroup>

<div class="message-info">
    <ul>
        <li>Konto uczestnika to konto użytkownika zapoznającego się i biorącego udział w przetargach.</li>
        <li>Konto właściciela to konto zarządcy przetargów.</li>
    </ul>
</div>

<div class="section">
    @Html.ActionLink("Konto uczestnika", "LoginAttendee", null, new { @class = "button green radius" })
    @Html.ActionLink("Konto właściciela", "LoginOwner", null, new { @class = "button blue radius" })
</div>