@model Przetargi.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>Wybierz typ konta.</h1>
</hgroup>

<div class="message-info">
    <ul>
        <li>Konto uczestnika pozwoli Ci przeglądać, zapoznawać się i brać udział w odbywających się przetargach</li>
        <li>Konto właściciela pozwoli Ci tworzyć i przeprowadzać przetargi, ułatwi zarządzanie widocznością elementów i składowanie dokumentów.</li>
    </ul>
</div>

<div class="section">
    @Html.ActionLink("Konto uczestnika", "RegisterAttendee", null, new { @class = "button green radius" })
    @Html.ActionLink("Konto właściciela", "RegisterOwner", null, new { @class = "button blue radius" })
</div>